.signup, .login{
  flex-grow: 1;
  .paper {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
  }
  form {
    text-align: center;
  }
}

.account {
  flex-grow: 1;
  overflow-y: scroll;
  padding-top: 64px;
  padding-left: 16px;
  padding-right: 16px;
  .content {
    max-width: 700px;
    margin: 20px auto;
    padding: 40px;
  }
}